# Get Groq API key from https://console.groq.com/keys
# Create a new file named .env and place your keys in your root directory
# To get Resend API key get from https://resend.com
# Create a new file named secret.toml inside .streamlit/ and also place your API keys there
GROQ_API_KEY="YOUR_GROQ_API_KEY_HERE"
RESEND_API_KEY="YOUR_RESEND_API_KEY_HERE"
APP_ENV="development"